.cookie-bar {
  width: 100%;
  top: 0;
  left: 0;
  background-color: grey;
  color: white;
  position: absolute;
  z-index: 1000;

  &>div {
    width: 960px;
    margin: auto;
    padding: 10px 0;

    button {
      float: right;
    }
  }
}
