header {
  background-color: #262626; }
  header .top {
    padding: 5px 0;
    height: 69px;
    width: 100%; }
    header .top .logo-img {
      width: 200px;
      margin-top: 17px; }
  header .menu {
    background-color: #373A47;
    height: 42px; }
    header .menu ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      header .menu ul li {
        float: left;
        padding: 0 10px 0 0; }
    header .menu a {
      color: #f2f2f2;
      font-weight: 600;
      padding: 13px;
      position: relative;
      top: 12px; }
      header .menu a.selected, header .menu a:hover {
        background-color: #1976D2;
        text-decoration: none; }
  header .breadcrumbs {
    background-color: #1976D2;
    height: 42px; }
    header .breadcrumbs a {
      color: #f2f2f2;
      font-weight: 600;
      display: inline-block;
      margin-top: 10px;
      padding: 0 13px; }
